@model WebSite.Models.USUARIOS

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = ":::Entrada:::";
    }
@Html.Partial("~/Views/Login/_Partial_NavPills_Home.cshtml")

<div class="col-md-9">
    <img src="~/Imagenes/entrada.jpg" class="img-responsive" alt="Cinque Terre">
</div>